
<button ng-click="logout()"
	style="padding-left: 50px; padding-right: 50px" >Log out</button>


<table>
	<thead>
		<!-- <tr><th colspan="4">Your Notes</th></tr>
       -->
		<tr>
			<th>Id &nbsp;</th>
			<th>Description &nbsp;</th>
			<th>sent By &nbsp;</th>
			<th>Confirm &nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="commet in comments track by $index">
			<td>{{commet.id}} &nbsp;</td>
			<td>{{commet.description}} &nbsp;</td>
			<td>{{commet.user.email}} &nbsp;</td>
			<td><button ng-click="confirmCommet($index)" style="padding-left: 50px;
				padding-right: 50px">Confirm
				</button>
			</td>
		</tr>
	</tbody>
</table>